[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
pylint = "*"
coveralls = "*"
coverage = "*"
"autopep8" = "*"
gunicorn = "*"
pytest-cov = "*"
"pep8" = "*"
pycodestyle = "*"
flask-restful = "*"
flask-jwt-extended = "*"
passlib = "*"
flask-restful-swagger = "*"

[dev-packages]

[requires]
python_version = "3.6"
